@model SportNotepadMVC.Application.ViewModels.Training.ListTrainingForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Historia treningów</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Dodaj nowy</a>
</p>
<form asp-action="Index" asp-controller="Training" method="post">
    <div class="row">
        <table class="table table-striped table-bordered" width="100%" id="table_id">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Dysatns
                    </th>
                    <th>
                        Wynik
                    </th>
                    <th>
                        Średnie tempo
                    </th>
                    <th>
                        Akcja
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Trainings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @item.Date.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Result)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AveragePace)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "lengthMenu": "Pokaż _MENU_ treningów na stronie",
                    "zeroRecords": "Brak pasujących treningów",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak treningów w bazie",
                    "infoFiltered": "(przeszukano z _MAX_ treningów)",
                    "search": "Wyszukaj: ",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                }
            });
        });
    </script>
}
