@model SportNotepadMVC.Application.ViewModels.ProfileUser.ProfileUserDisplayVm

@{
    ViewData["Title"] = "Details";
}

<h1>Profil</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Imię i nazwisko
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Wiek
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            Waga
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight) kg
        </dd>
        <dt class="col-sm-2">
            Rekord na 5km
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pb5k)
        </dd>
        <dt class="col-sm-2">
            Rekord na 10km
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pb10k)
        </dd>
        <dt class="col-sm-2">
            Rekord w półmaratonie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PbHalfMarathon)
        </dd>
        <dt class="col-sm-2">
            Rekord w maratonie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PbMarathon)
        </dd>
        <dt class="col-sm-2">
            Liczba zawodów
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountCompetitions)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class="col-sm-50">
          @*  <img src="~/Pictures/@Html.DisplayFor(model => model.ProfilePicture) class="rounded-circle" width="40" height="40" asp-append-version="true" />
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "Edit", new { /* id = Model.PrimaryKey */ }, new {@class = "btn btn-warning" })
</div>
