@model SportNotepadMVC.Application.ViewModels.Competition.ListCompetitionForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zawodów</h1>
<p>
    <a class="btn btn-success" asp-action="Create">Dodaj zawody</a>
</p>

<form asp-action="Index" asp-controller="Competition" method="post">
    <div class="row">
        <table class="table table-striped table-bordered" width:"100%" id="table_id">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Pozycja
                    </th>
                    <th>
                        Wynik
                    </th>
                    <th>
                        Nazwa zawodów
                    </th>
                    <th>
                        Miejscowość
                    </th>
                    <th>
                        Dystans
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Akcja
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Competitions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Result)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td>
                            @item.Date.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-success" asp-action="DownloadList">Pobierz listę</a>
    </div>
</form>



@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "lengthMenu": "Pokaż _MENU_ zawodów na stronie",
                    "zeroRecords": "Brak pasujących zawodów",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak zawodów w bazie",
                    "infoFiltered": "(przeszukano z _MAX_ rekordów)",
                    "search": "Wyszukaj: ",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                }
                });
        });


    </script>
}