@model SportNotepadMVC.Application.ViewModels.Competition.ListCompetitionForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zawodów</h1>
<p>
    <a class="btn btn-success" asp-action="Create">Dodaj zawody</a>
</p>
    
<form asp-action="Index" asp-controller="Competition" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="SearchString" id="searchString" />
        <input type="submit" value="Szukaj" />
    </div>
    </br>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Pozycja
                    </th>
                    <th>
                        Wynik
                    </th>
                    <th>
                        Nazwa zawodów
                    </th>
                    <th>
                        Miejscowość
                    </th>
                    <th>
                        Dystans
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Competitions)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td>
                        @item.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                    }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i=1; i<= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if(i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}